version: '3.8'

services:
  db:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: bounty_root_pass
      MYSQL_DATABASE: bounty_db
      MYSQL_USER: bounty_user
      MYSQL_PASSWORD: bounty_password
    volumes:
      - db_data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  web:
    build: .
    container_name: bounty_platform
    restart: always
    ports:
      - "9001:8000"
    volumes:
      - ./app/static/uploads:/app/app/static/uploads
    environment:
      - SECRET_KEY=redpacket_bounty_secret_2026
      # 连接到上面的 db 服务
      - DATABASE_URL=mysql+pymysql://bounty_user:bounty_password@db/bounty_db
    depends_on:
      - db

volumes:
  db_data: